################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/ARCrypt.UI/obj/Debug
/ArCrypt.Blazor.Services/obj
/ArCrypt.Blazor/obj
/ArCrypt.Blazor.Services.Abstractions/obj
