@page "/modal"
@using ArCrypt.Blazor.Model;
@inject IJSRuntime _runtime

<div class="modal fade" id=@(_modalLabel) data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby=@(_modalLabel) aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @if (!string.IsNullOrEmpty(@ModalContent.Icon))
                {
                    <span class="mr-auto p-2"><img src=@("./css/feathericons/"+ModalContent.Icon+".svg") alt="Unlock Icon" /></span>
                }
                <h1 class="modal-title fs-5" id=@(_modalLabel)>@ModalContent.Title</h1>
            </div>
            <div class="modal-body">

                <div style="width:100%">
                    <div class="card">

                        <div class="card-header">
                            <div class="d-flex">
                                @if (!string.IsNullOrEmpty(ModalContent.Infotext))
                                {
                                    <div class=@(ModalContent.InfotextStyle == InfotextType.WARN ? "text-warning-emphasis": "text-info-emphasis")>
                                        @ModalContent.Infotext
                                    </div>
                                }
                                <button class="btn btn-outline-secondary p-2" type="button" @onclick="CopyAsync"><img src="./css/feathericons/copy-dark.svg" alt="Alternate Text" /></button>
                            
                            
                            </div>
                        </div>

                        <div class="card-body">
                            @ModalContent.Content
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {


    public Guid _modalLabel = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;
    private ElementReference modalId { get; set; }
    private ModalContent ModalContent { get; set; } = new ModalContent(string.Empty, string.Empty, null);
    private bool IsConfirmClicked = false;
    public async Task Open(ModalContent modalContent)
    {
        IsConfirmClicked = false;
        ModalContent = modalContent;
        StateHasChanged();
        await _runtime.InvokeVoidAsync("_site.showModal", _modalLabel.ToString(), "show");
        //await _runtime.InvokeVoidAsync("_site.addStyle", "modalId", "display:block;");
        /*
        ModalDisplay = "block;";
        ModalClass = "show";

        ShowBackdrop = true;

        await Task.Delay(2500);//Delay allows bootstrap to perform nice fade animation
        StateHasChanged();
        */

    }

    private void Confirm() {
        IsConfirmClicked = true;
        StateHasChanged();
    }

    private async Task CopyAsync()
    {
        await _runtime.InvokeVoidAsync("copyToClipboard", ModalContent.Content);
    }
}