@inherits Microsoft.AspNetCore.Components.Forms.InputText

@inject IJSRuntime _jsRuntime

<div style="width:100%">

    <div class="card">
        <div class="card-body">

            <div class="input-group mb-3">
                <div class="form-floating flex-grow-1">
                    <input type=@(_showPassword ? "input" : "password") @attributes="@AdditionalAttributes" class="form-control" placeholder="@Placeholder" id="password" @bind="@CurrentValueAsString"></input>
                    <label for="password">@Label</label>
                </div>
                <button class="btn btn-outline-secondary border-start-0" style="border: var(--bs-border-width) solid var(--bs-border-color);" type="button" @onclick="TogglePassword">

                    @if(_showPassword)
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                    }
                    else
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
                    }

                </button>
            </div>



        </div>
        <div class="card-footer">

            <div class="d-flex">
                <span class="mr-auto p-2"><img src=@("./css/feathericons/"+Icon+".svg") alt="Unlock Icon" /></span>

                @if (!DisableGenerate)
                {
                    <button class="btn btn-outline-secondary p-2 me-3" type="button" @onclick="Generate"><img src="./css/feathericons/refresh-ccw-dark.svg" alt="Generated" /></button>
                }

                <button class="btn btn-outline-secondary p-2 me-3" type="button" @onclick="CopyAsync"><img src="./css/feathericons/copy-dark.svg" alt="Copy to clipboard" /></button>
                <button class="btn btn-outline-secondary p-2" type="button" @onclick="Clear"><img src="./css/feathericons/x-dark.svg" alt="Clear" /></button>

            </div>



        </div>

    </div>

</div>


@code {

    [Parameter] public string? Label { get; set; }
    [Parameter] public string? Placeholder { get; set; }
    [Parameter] public bool DisableGenerate { get; set; }
    [Parameter] public string? Icon { get; set; }

    private bool _showPassword = false;

    private void Clear()
    {
        CurrentValueAsString = "";
    }

    private void TogglePassword(){
        _showPassword = !_showPassword;
    }

    private async Task CopyAsync()
    {
        await _jsRuntime.InvokeVoidAsync("copyToClipboard", CurrentValueAsString);
    }

    private void Generate()
    {
        CurrentValueAsString = "generated password";
    }
}